$transition-time: .3s

.input-container
  position: relative

.input
  padding-left: 1.8rem

.icon
  position: absolute
  bottom: 6px
  left: 0
  font-size: 1rem
  color: #DCDCDC
  transition: all $transition-time
