@import './src/variables'

.checkbox-container
  margin: 2rem 0
  @include lg
    margin: 4rem 0

.error
  margin-top: 2rem
  text-align: center
  color: #ff4a50

.complement-container
  margin: 3rem 0
