<div class="container">
  <h3 class="title">Adicionar endereço</h3>
  <h4 class="subtitle">
    Endereço de entrega
  </h4>
  <app-address-search-input [value]="addressToEdit" (addressChange)="saveAddress($event)"></app-address-search-input>
<!--  <div class="checkbox-container">-->
<!--    <app-checkbox-->
<!--      name="complement"-->
<!--      label="Sem Complemento"-->
<!--      [value]="hasComplement"-->
<!--      (check)="getValue($event)"></app-checkbox>-->
<!--  </div>-->
  <div class="complement-container">
    <input
      [(ngModel)]="complement"
      type="text"
      placeholder="Complemento (opcional)">
  </div>
  <p *ngIf="noAddressError" class="error">
    Selecione um endereço
  </p>
  <button class="btn" *ngIf="addressToEdit; else addButton" (click)="editAddress()">
    Editar
  </button>
  <ng-template #addButton>
    <button class="btn" (click)="add()">
      Solicitar
    </button>
  </ng-template>
</div>
