@import './src/variables'

.fixed-container
  position: fixed
  z-index: 2000
  width: 100%
  top: 3rem
  left: 0
  height: calc(100vh - 3rem)
  @include lg
    top: 0
    left: 5rem
    width: calc(100% - 5rem)
    height: 100%

.background
  width: 100%
  height: 100%
  background: $purple
  transform-origin: center top
  animation: background-in-y .5s forwards
  @include lg
    transform-origin: left center
    animation: background-in-x .5s forwards

.content
  width: 100%
  height: calc(100% - 3rem)
  position: absolute
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  left: 0
  top: 0
  color: #fff
  @include lg
    height: 100%
    width: calc(100% - 5rem)
  @for $i from 1 through 4
    & > *:nth-child(#{$i})
      opacity: 0
      animation: text-in .5s calc(#{$i + 1}s / #{10}) forwards

.price
  font-size: 0.8rem


@keyframes background-in-y
  from
    transform: scaleY(0)
  to
    transform: scaleY(1)

@keyframes background-in-x
  from
    transform: scaleX(0)
  to
    transform: scaleX(1)


@keyframes text-in
  from
    opacity: 0
  to
    opacity: 1
