form
  & > *
    margin-bottom: 2rem

.row
  display: flex
  & > *:first-child
    margin-right: 2rem

.btn-row
  min-width: initial
  width: 50%

.card-number-row
  position: relative

.card-flag
  width: 1.8rem
  height: 1rem
  position: absolute
  right: 0
  top: 50%
  transform: translateY(-50%)
  background-size: contain
  background-repeat: no-repeat
  &.mastercard
    background-image: url('../../../assets/images/credit-card/mastercard.png')
  &.visa
    background-image: url('../../../assets/images/credit-card/visa.png')
  &.elo
    background-image: url('../../../assets/images/credit-card/elo.png')
  &.american-express
    background-image: url('../../../assets/images/credit-card/american-express.png')
  &.diners-club
    background-image: url('../../../assets/images/credit-card/diners-club.png')

