<div class="container">
  <h3 class="title">Cartão de crédito</h3>
  <h4 class="subtitle">
    Dados do cartão
  </h4>
  <form [formGroup]="creditCardForm" (ngSubmit)="addCreditCard()">
    <div class="card-number-row">
      <input
        (input)="checkCardFlag()"
        [class.input-error]="isInputInvalid('number')"
        type="text"
        formControlName="number"
        maxlength="19"
        required
        placeholder="Número do cartão"
        mask="0000 0000 0000 0000">
        <div class="card-flag" [ngClass]="cardFlag"></div>
    </div>
    <input type="text" formControlName="name" [class.input-error]="isInputInvalid('name')" required placeholder="Nome do cartão">
    <div class="row">
      <input
        [class.input-error]="isInputInvalid('expDate')"
        type="text"
        formControlName="expDate"
        maxlength="5" required placeholder="Validade" mask="00/00">
      <input type="tel" formControlName="cvv" [class.input-error]="isInputInvalid('cvv')" maxlength="3" required placeholder="CVV">
    </div>
    <div class="row">
      <button type="button" class="btn btn--outline btn-row" (click)="goTo('deliveryman')">
        Voltar
      </button>
      <button class="btn btn-row" type="submit">Adicionar</button>
    </div>
  </form>
</div>
