@import './src/variables'

#app
  font-family: "Montserrat", sans-serif

#text-content
  margin-top: calc(10rem)
  @include smL
    margin-top: 0
    width: 60vw
  @include lg
    margin-top: 0
    width: 40vw

#main-content
  display: flex
  flex-direction: column
  margin-top: 3rem
  @include smL
    flex-direction: row
  @include lg
    margin-top: 0
    margin-left: 5rem
