<div class="container">
  <h3 class="title">Solicitar entregador</h3>
  <h4 class="subtitle">
    Endereços de entrega
  </h4>
  <div class="addresses-container">
    <div *ngFor="let address of addresses; let index = index" class="address">
      <p class="address-line">
        <span class="dot">
          {{alphabet[index]}}
        </span>
        <span class="address-line__label">
          {{ address.formatted_address }}
        </span>
      </p>
      <div>
        <button
          class="btn btn-icon btn-remove"
          (click)="removeStop(index)"
          *ngIf="index > 0"
        >
          <fa-icon [icon]="faTimes" class="icon"></fa-icon>
        </button>
        <button class="btn btn-icon btn-edit-stop" (click)="editStop(index)">
          <fa-icon [icon]="faPen" class="icon"></fa-icon>
        </button>
      </div>
    </div>
    <button class="btn btn--small btn--no-margin" (click)="goTo('')">
      Adicionar novo endereço
    </button>
  </div>
  <textarea [(ngModel)]="description" placeholder="Adicionar instrução"></textarea>
  <div class="delivery-data-container">
    <div class="delivery-data">
      <h5 class="delivery-data__title">Distância</h5>
      <p class="delivery-data__info">
        {{ formattedDistance }}
      </p>
    </div>
    <div class="delivery-data">
      <h5 class="delivery-data__title">Valor</h5>
      <p class="delivery-data__info">
        {{ formattedPrice }}
      </p>
    </div>
  </div>
  <div class="payment-container">
    <div class="payment-title">
      <h4 class="subtitle subtitle--no-margin">
        Pagamento
      </h4>
      <button class="btn btn--flat" (click)="goTo('new-credit-card')">
        Adicionar
      </button>
    </div>
    <div class="payment-container">
      <div class="payment-row" *ngFor="let card of creditCards; let index = index">
        <div class="credit-card-item">
          <input type="radio" [id]="'card-' + index" name="credit-card" (change)="selectPayment(index)">
          <label [for]="'card-' + index" class="credit-card-item__content">
            <span class="credit-card-item__img" [ngClass]="getCreditCardImage(card.card_number)"></span>
            <span class="credit-card-item__label">
            {{ hideCreditCardNumber(card.card_number) }}
          </span>
          </label>
        </div>
        <button class="btn btn-icon btn-remove btn-remove-card" (click)="removeCreditCard(index)">
          <fa-icon [icon]="faTimes" class="icon"></fa-icon>
        </button>
      </div>
    </div>
    <p class="error">
      {{ renderErrorMessage() }}
    </p>
  </div>
  <button class="btn" (click)="requestDeliveryman()">
    Solicitar
  </button>
</div>
