@import './src/variables'

$dots-distance: 1.3rem

.addresses-container
  margin-bottom: 2rem

.address
  display: flex
  align-items: center
  justify-content: space-between
  position: relative
  margin-bottom: $dots-distance
  &:not(:first-child)
    .dot::after
      content: ''
      position: absolute
      width: 2px
      height: $dots-distance
      background: #000
      bottom: 100%

.address-line
  margin: 0
  display: flex
  &__label
    width: 46vw
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    @include rwd(400)
      width: 48vw
    @include rwd(450)
      width: 52vw
    @include smL
      width: 29vw
    @include md
      width: 36vw
    @include lg
      width: 20vw
    @include rwd(1100)
      width: 22vw
    @include rwd(1300)
      width: 25vw
    @include xxl
      width: 26vw
    @include xxxl
      width: 28vw

.dot
  flex-basis: 1.3rem
  display: flex
  align-items: center
  justify-content: center
  color: #fff
  background: #FF8478
  border-radius: 50%
  margin-right: 1rem
  font-size: 0.8rem
  width: 1.3rem
  height: 1.3rem

.payment-row
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 1rem
  &:hover
    .btn-remove-card
      opacity: 1

.btn-icon
  min-width: initial
  margin: 0
  padding: 0
  border: 0
  display: inline-flex
  align-items: center
  justify-content: center
  border-radius: 50%
  width: 1.5rem
  height: 1.5rem

.btn-edit-stop
  color: #fff
  background: #7C76E6
  margin-left: 1rem
  & > *
    font-size: 0.8rem

.btn-remove
  background: $red
  & > *
    transform: translate(0, 1px)

.btn-new-address
  color: #fff
  background: #7C76E6
  margin-left: 1rem

.delivery-data-container
  display: flex
  margin: 3rem 0
  & > *:first-child
    margin-right: 2rem

.delivery-data
  &__title
    font-size: 1rem
    margin: 0
    color: #9F9F9F
  &__info
    font-size: 1.3rem
    margin: 0
    color: #222222

.payment-title
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 2rem

.payment-container
  width: 100%
  display: flex
  flex-direction: column

.credit-card-item
  position: relative
  display: inline-block
  cursor: pointer
  padding-left: 2rem
  label
    cursor: pointer
    position: relative
    &::after
      content: ''
      position: absolute
      width: 20px
      height: 20px
      border: solid 2px #7967FF
      border-radius: 50%
      top: 50%
      right: 105%
      transform: translateY(-50%)
    &::before
      content: ''
      position: absolute
      border-radius: 50%
      right: 108%
      top: 50%
      transform: translateY(-50%) scale(0)
      transition: all .3s
      width: 10px
      height: 10px
      background: #7967FF
  input
    position: absolute
    opacity: 0
    width: initial
    pointer-events: none
    &:checked + label::before
      transform: translateY(-50%) scale(1)
  &__content
    display: inline-flex
    align-items: center
  &__img
    display: inline-block
    height: 30px
    width: 40px
    background-size: contain
    background-position: center center
    background-repeat: no-repeat
    background-image: url('../../../assets/images/credit-card/unknown.svg')
    &.mastercard
      background-image: url('../../../assets/images/credit-card/mastercard.png')
    &.visa
      background-image: url('../../../assets/images/credit-card/visa.png')
    &.elo
      background-image: url('../../../assets/images/credit-card/elo.png')
    &.american-express
      background-image: url('../../../assets/images/credit-card/american-express.png')
    &.diners-club
      background-image: url('../../../assets/images/credit-card/diners-club.png')
  &__label
    margin-left: 1rem

.btn-remove-card
  background-color: $gray
  transition: background-color .3s
  @include xl
    opacity: 0
  &:hover
    background-color: $red

.error
  align-self: center
  color: $red
