@import "./src/variables"

agm-map
  position: fixed
  width: 100%
  height: 10rem
  top: 3rem
  left: 0
  @include smL
    left: initial
    right: 0
    width: 40vw
    height: calc(100vh - 3rem)
  @include lg
    top: 0
    width: calc(60vw - 5rem)
    height: 100vh
