<div class="map">
  <agm-map
    [zoom]="origin && !destination ? originZoom : 4"
    [latitude]="origin && !destination ? origin.lat : lat"
    [longitude]="origin && !destination ? origin.lng : lng">
    <agm-marker
      *ngIf="origin && !destination"
      [latitude]="origin.lat"
      [longitude]="origin.lng"
      [iconUrl]="
          {
            url: './assets/images/a-pin.svg',
            scaledSize: {
                width: 40,
                height: 50
            }
          }">
    </agm-marker>
    <agm-direction
      *ngIf="origin && destination"
      [waypoints]="waypoints"
      [origin]="origin"
      [destination]="destination || origin">
    </agm-direction>
  </agm-map>
</div>
