/*!
 * Initialize.css (v1.3.1) is a complete and customizable collection of CSS best practices based on Normalize.css and HTML5 Boilerplate.
 * http://jeroenoomsnl.github.io/initialize-css
 *
 * HTML5 Boilerplate: https://github.com/h5bp/html5-boilerplate
 * Normalize.css: http://github.com/necolas/normalize.css
/* ==========================================================================
 * General
 * ==========================================================================
/**
 * 1. Set default font family to $initialize-font-family (default: sans-serif)
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom
 * 3. Configurable defaults

html
  -moz-box-sizing: border-box
  box-sizing: border-box
  font-family: sans-serif

  /* 1
  line-height: 1.4

  /* 3
  font-size: 1em

  /* 3
  -ms-text-size-adjust: 100%

  /* 2
  -webkit-text-size-adjust: 100%

/* 2

/*
 * Remove default margin

body
  margin: 0

/*
 * Inheriting box-sizing
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

*
  -moz-box-sizing: inherit
  box-sizing: inherit

  &:before, &:after
    -moz-box-sizing: inherit
    box-sizing: inherit

/* ==========================================================================
 * HTML5 display defenitions
 * ==========================================================================
/*
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.

details, main, summary
  display: block

/*
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.

audio, canvas, progress, video
  vertical-align: baseline

/* 2

/*
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.

audio:not([controls])
  display: none
  height: 0

/*
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.

[hidden], template
  display: none

/* ==========================================================================
 * Links
 * ==========================================================================
/*
 * Remove the gray background color from active links in IE 10.
/*
 * Improve readability of focused elements when they are also in an
 * active/hover state.

a
  &:active, &:hover
    outline: 0

p
  margin-block-start: 0
  margin-block-end: 0

/* ==========================================================================
 * Text-level semantics
 * ==========================================================================
/*
 * Address inconsistent styling of `abbr[title]`.
 * 1. Correct styling in Firefox 39 and Opera 12.
 * 2. Correct missing styling in Chrome, Edge, IE, Opera, and Safari.

abbr[title]
  border-bottom: none

  /* 1
  text-decoration: underline

  /* 2
  text-decoration: underline dotted

/* 2

/*
 * Address inconsistent styling of b and strong.
 * 1. Correct duplicate application of `bolder` in Safari 6.0.2.
 * 2. Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+.

b, strong
  font-weight: inherit

/* 1

b, strong
  font-weight: bolder

/* 2

/*
 * Address styling not present in Safari and Chrome.

dfn
  font-style: italic

/*
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.

h1
  font-size: 2em
  margin: 0.67em 0

/*
 * Address inconsistent and variable font size in all browsers.

small
  font-size: 80%

/*
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.

sub
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline
  top: -0.5em

sub
  bottom: -0.25em

/* ==========================================================================
 * Embedded content
 * ==========================================================================
/*
 * Correct overflow not hidden in IE 9/10/11.

svg:not(:root)
  overflow: hidden

/* ==========================================================================
 * Grouping content
 * ==========================================================================
/*
 * Address margin not present in IE 8/9 and Safari.

figure
  margin: 1em 40px

/*
 * Address inconsistent styling of `hr`.
 * 1. Correct `box-sizing` set to `border-box` in Firefox.
 * 2. Correct `overflow` set to `hidden` in IE 8/9/10/11 and Edge 12.

hr
  -moz-box-sizing: content-box
  box-sizing: content-box

  /* 1
  height: 0

  /* 1
  overflow: visible

/* 2

/*
 * Contain overflow in all browsers.

pre
  overflow: auto

/*
 * 1. Correct inheritance and scaling of font-size for preformatted text.
 * 2. Address odd `em`-unit font size rendering in all browsers.

code, kbd, pre, samp
  font-family: monospace, monospace

  /* 1
  font-size: 1em

/* 2

/* ==========================================================================
 * Forms
 * ==========================================================================
/*
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
/*
 * 1. Correct font properties not being inherited.
 * 2. Address margins set differently in Firefox 4+, Safari, and Chrome.

button, input, optgroup, select, textarea
  font: inherit

  /* 1
  margin: 0

/* 2

/*
 * Address `overflow` set to `hidden` in IE 8/9/10/11.

button
  overflow: visible
  text-transform: none

/*
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.

select
  text-transform: none

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.

button, html input[type="button"]
  -webkit-appearance: button

  /* 2
  cursor: pointer

/* 3

input
  &[type="reset"], &[type="submit"]
    -webkit-appearance: button

    /* 2
    cursor: pointer

/* 3

/*
 * Re-set default cursor for disabled elements.

button[disabled], html input[disabled]
  cursor: default

/*
 * Remove inner padding and border in Firefox 4+.

button::-moz-focus-inner, input::-moz-focus-inner
  border: 0
  padding: 0

/*
 * Restore focus style in Firefox 4+ (unset by a rule above)

button:-moz-focusring
  outline: 1px dotted ButtonText

input
  &:-moz-focusring
    outline: 1px dotted ButtonText

  line-height: normal

  &[type="number"]
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button
      height: auto

  &[type="search"]
    -webkit-appearance: textfield

    &::-webkit-search-cancel-button, &::-webkit-search-decoration
      -webkit-appearance: none

/*
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.

/*
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.

/*
 * Address `appearance` set to `searchfield` in Safari and Chrome.

/*
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).

/*
 * Define consistent border, margin, and padding.

fieldset
  border: 1px solid #c0c0c0
  margin: 0 2px
  padding: 0.35em 0.625em 0.75em

/*
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.

legend
  border: 0

  /* 1
  padding: 0

/* 2

/*
 * Remove default vertical scrollbar in IE 8/9/10/11.

textarea
  overflow: auto

/*
 * Restore font weight (unset by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.

optgroup
  font-weight: bold

/* ==========================================================================
 * HTML5 Boilerplate optimizations
 * ==========================================================================
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.

\::-moz-selection, ::selection
  background: #b3d4fc
  text-shadow: none

/*
 * A better looking default horizontal rule

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 1em 0
  padding: 0

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440

audio, canvas, iframe, img, svg, video
  vertical-align: middle

/*
 * Remove default fieldset styles.

fieldset
  border: 0
  margin: 0
  padding: 0

/*
 * Allow only vertical resizing of textareas.

textarea
  resize: vertical

/* ==========================================================================
 * Optional configurations
 * ==========================================================================
/*
 * Headings
/*
 * Block elements
/* ==========================================================================
 * Print styles
 * ==========================================================================
