@import "initialize"
@import "variables"

body
  margin: 0

.title
  font-size: 1.8rem
  margin: 0 0 0.8rem 0
  @include lg
    font-size: 3rem
    margin: 0 0 2rem

.subtitle
  font-size: 1.3rem
  margin: 0 0 3rem
  @include lg
    margin: 0 0 2rem
  &--no-margin
    margin: 0

.container
  padding: 1rem 2rem
  @include lg
    padding: 2rem

input, textarea
  width: 100%
  border: none
  border-bottom: solid 2px #DCDCDC
  outline: none
  padding-left: 0.3rem
  padding-bottom: 0.3rem
  font-family: "Montserrat", sans-serif
  font-size: 1rem
  &:focus
    color: #7967FF
    border-bottom-color: #7967FF
  &.input-error
    border-color: red
    &::placeholder
      color: red

textarea
  width: 100%
  border-radius: 1rem
  padding: 2rem
  border: solid 2px #DCDCDC
  resize: none
  height: 7rem
  &:focus
    color: #7967FF
    border-color: #7967FF

.btn
  cursor: pointer
  min-width: 18rem
  display: block
  margin: 3rem auto 0 auto
  padding: 1rem
  background: #7967FF
  border: solid 2px #7967FF
  color: #fff
  font-family: "Montserrat", sans-serif
  font-weight: bold
  border-radius: 0.8rem
  @include lg
    margin: 2rem auto 0 auto
  &--outline
    background: transparent
    border: solid 2px #7967FF
    color: #7967FF
  &--flat
    margin: 0
    background: transparent
    min-width: initial
    width: initial
    padding: 0.4rem 1rem
    color: #7967FF
    cursor: pointer
    display: inline-flex
    align-items: center
    justify-content: center
    border: none
  &--white
    border-color: $white
    background: $white
    color: $purple
  &--small
    font-size: 0.9rem
    padding: 0.6rem 0.8rem
    min-width: 4rem
  &--no-margin
    margin: 0

